

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.lang {
    width: 6em;
}

table td,
table th {
    border: 1px solid #dddddd;
    padding: 8px;
    width: .5rem;
}




table tr:nth-child(even) {
    background-color: #bb9696;
}

table tr:nth-child(odd) {
    background-color: #848bca;
}

table tr:hover {
    background-color: #ddd;
}

.hidden {
    transition: 0.6;
    display: none;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(182, 125, 50);
    color: white;
}

.btn-remove {
    background-color: rgb(151, 4, 4);
    color: aliceblue;
}

button {
    gap: 10px;
    padding: 5px;
    background-color: rgb(145, 191, 191);
    /* height: 2em; */
    width: 6em;
    /* width:clamp(6em,5em,8em) 5em; */
    margin-top: 5px;
    text-align: center;
}

.modal {
    color: #f2f2f2;
    background-color: #111;
    padding: 10px;
    height: 80vh;
    min-width: 300px;
    text-align: center;
    transition: left .20s;
}

.modal.open {
    opacity: 1;
}

.modal h3 {
    color: pink;
    text-decoration: overline;
    text-transform: capitalize;
}

.modal h4 span {
    color: pink;
}

.modal>p {
    text-align: left;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    color: #f2f2f2;
    background-color: #111;
    padding: 10px;
    transition: bottom .5s;
}

.user-msg.open {
    bottom: 10px;
}


header {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    background-color: rgb(183, 176, 76);
    margin-bottom: 20px;
}

.user-card {

    display: grid;
    color: #ddd;
    grid-auto-rows: 80px;
    gap: 10px;
    height: 250px;
    border: 2px black solid;

}

p:nth-child(1) {
    align-self: end;
    grid-column: 1;
    border: 1px black solid;
    padding: 10px;
}

p:nth-child(2) {
    justify-self: end;
    align-self: end;
    grid-column: 2 / span 2;
    border: 1px black solid;
    padding: 10px;
}

p:nth-child(3) {
    justify-self: start;
    align-self: end;
    grid-column: 1 / 2;
    border: 1px black solid;
    padding: 10px;
    /* grid-column: 2;
    grid-row: 3 */
}

p:nth-child(4) {
    align-self: end;
    justify-self: start;
    grid-column: 3 /3;
    border: 1px black solid;
    padding: 10px;
}

.card-container .user-list {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 30px;

}

.btcard {
    display: grid;
    place-content: center;
    grid-template-rows: repeat(auto-fit, minmax(auto, auto));
    align-self: center;
    gap: 10px;
    height: 15px;
    padding: 10px;
}

.btcard.btn-remove {
    background-color: rgb(151, 4, 4);
    color: aliceblue;
}

.card-container .user-list div {
    padding: 0.5rem 2.5rem;
    background-color: rgb(144, 92, 47);
}

.buttons {
    gap: 5px;
    display: flex;
    justify-content: center;
}

.footer {
    margin-top: 40px;
    position: sticky;
    bottom: 15px;
    left: 0;
}